.thumbnails.svelte-1tkea93.svelte-1tkea93 {
  justify-content: initial;
}

#table_div {
  height: 300px;
  overflow: scroll;
}

#public_cache input[type="checkbox"]:checked {
  background-color: #e6e6e6;
  /* 设置选中后的背景颜色 */
  border: 1px solid #333;
  /* 设置选中后的边框样式 */
  color: #0f0;
  /* 设置选中后的文本颜色 */
}
