.thumbnails.svelte-1tkea93.svelte-1tkea93 {
  justify-content: initial;
}

#public_cache label::before {
  display: inline-block;
  content: "√";
  width: 12px;
  border: 2px solid #fff;
  height: 4px;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  top: 5px;
  left: 3px;
  position: absolute;
  opacity: 0;
}
